importFrom("stats", "model.frame", "model.matrix", "na.omit", "predict")
importFrom("utils", "write.table")

S3method("decorate", "default")
S3method("decorate", "earth")
S3method("decorate", "elmNN")
S3method("decorate", "glmnet")
S3method("decorate", "party")
S3method("decorate", "randomForest")
S3method("decorate", "ranger")
S3method("decorate", "svm.formula")
S3method("decorate", "train")
S3method("decorate", "WrappedModel")
S3method("decorate", "xgb.Booster")

S3method("as.fmap", "data.frame")
S3method("as.fmap", "matrix")

S3method("verify", "default")
S3method("verify", "glm")
S3method("verify", "train")
S3method("verify", "xgb.Booster")

exportPattern("^[^\\.]")
